h1 {
  text-align: right;
  color: aliceblue;
  background-color: darkblue;
  height: 150px;
  margin: 0%;
  padding-top: 3.75%;
}
h1.a:hover {
  color: rgb(59, 31, 111);
  background-color: aqua;
}
h2 {
  color: rgb(59, 31, 111);
}
h3 {
  color: darkred;
}
body {
  background-color: cornflowerblue;
}
.descriptor {
  font-weight: bolder;
}
.mission {
  width: 30%;
}
.photo {
  display: wrap;
  border: dashed;
  border-width: medium;
  border-color: darkblue;
}
.quote {
  font-family: cursive;
  text-align: center;
}
.aboutme {
  box-shadow: 0 0 12px -2px turquoise;
  margin-left: 125 px;
  margin-right: 125 px;
  margin: 0 auto;
}
.acePics {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.dogpic {
  float: right;
  width: 40px;
  height: 40px;
  z-index: -1;
}
.portfolio {
  font-family: "Times New Roman", Times, serif;
}
.form {
  padding-top: 10vh;
  margin: 0 auto;
  width: 50%;
  font-size: larger;
}
a:hover {
  background-color: darkolivegreen;
  color: yellowgreen;
}
